



.mt11{
    margin-top: 11px;
}
.mb11{
    margin-bottom: 11px;
}

.w40{
    width: 40px;
}
.mr22{
    margin-right: 22px;
}
.w25{
    width: 25px;
}



.userList{
    padding: 22px;
    background-color: #FAFAFA;
}

.userListComponent{
    
}
.userListInnerComponent{
    padding:25px 35px;
    border-radius: 8px;
    background-color: white;
}
/* css for header */
.headerComponents{
    display: flex;
}
/* search */
.search{
    max-width: 400px;
}

.inputGroup{
    display: flex;   
    border: 1px solid #E2E2E2;
    border-radius: 23px;
}
.inputAdd{
    min-width: 40px;
    position: relative;
}
.addIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.inputFiled{
    border: 0;
    display: block;
    width: 100%;
    height: 42px;
    padding: .375rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    outline: 0;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* status */

.selectOption {
    min-width: 140px;
    border: 0;
    max-width: 140px;
    display: block;
    width: 100%;
    height: 42px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    outline: 0;
    margin: 0 14px;
    background-color: #fff;
    background-clip: padding-box;
    position: relative;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.selectOption option{
    position: absolute;
}
/* date input */
.dateInput{
    max-width: 119px;
}
/* applyBtn */
.apply{
    padding: 9px 0 !important;
    min-width: 104px;
    background: #4B6CF4;
    color: white;
}
/* user list table  */
.UserListTable{
    margin-top: 20px;
    font-size: 14px;
}
.tableBody  tr{
    border-bottom: 2px solid #C9C9C9;;
}
.tableBody tr:last-child{
    border: 0;
}
.tableRow  td{
    line-height: 2.8;

}
.tableHead{
    background-color: #F8F8F8;
    border-radius: 5px;
}
.location{
    max-width: 300px;

}
.statusBtn span{
    background: #00D47C;
    color: white;
    padding: 8px 13px;
    border-radius: 23px;
}
.blockBtn span{
    background: #FF4343;
    color: white;
    padding: 8px 13px;
    border-radius: 23px;
}
.action{
    display: flex;
}

.action i{
    color: white;
    padding: 12px;
}
.sms{
    margin-right: 7px;
    background-color: #586BF5;
    border-radius: 100%;
}
.exit{
    margin-right: 7px;
    background-color: #FF9B00;
    border-radius: 100%;
}
.delete{
    background-color: #FF292A;
    border-radius: 100%;
}
/* pagination */
.pagination {}
.pagination ul{

}
.pagination ul li {
    margin-right: 10px;
    display: inline-block;
    position: relative;
    width: 38px;
    height: 38px;
    background-color: #F4F5F5;
    border-radius: 100%;
    cursor: pointer;
}
.pagination ul li a{
    text-decoration: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #293241;
}
.pagination ul li a i{
    font-size: 22px;
}

.activePage{
    background-color: #4769FD !important;
}
.activePage a{
    color: white !important;
}
