.dashboardHeader{
    background-color: #FAFAFA;
    overflow: hidden;
    z-index: 99;
    position: fixed;
    width: 100%;
}
.dashboardSideBar{
    width: 68px;
    z-index: 999;
    position: fixed;
    background-color:#F4F4F4;
    height: 100%;
}

.dashboardPages{
    z-index: 0;
    padding-top: 80px;
    margin-left: 68px;
    background-color:#FFFFFF
}

/* sidebarHeader */
.sidebarHeader{
    position: relative;
    display: flex;
    min-height: 70px;
    overflow: hidden;
    width: 68px;
}

.toggler {
    display: inline-block;
    width: 68px;
    height: 80px;
    position: relative;
}
.toggler i{
    color:#EBB0B0;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* sideBarMenu */
.sideBarMenu ul{
    padding: 0;
}
.sideBarMenu ul li{
    margin: 0;
    text-align: center;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 40px;
}
.sideBarMenu ul li i {
    color: #EBB0B0;
    font-size: 25px;
}
/* dbheader */
.dbHeader{
    width: 100%;
    overflow: hidden;
    margin-left: 68px;
    background:#FFFFFF;
    height: 80px;
}
.dbHeader p{
    color: #9E9E9E;
}
.dbhLogo {
    text-align: center;
    width:  20%;
    float: left;
    line-height: 80px;
}
.dbhLogo img{
    max-width: 135px;
}
.dbMenu{
    float: left;
    width: 55%;
    text-align: center;
}
.dbMenu ul{
    display: inline-block;
}
.dbMenu ul li{
    list-style:none;
    display: inline-block;
    cursor: pointer;
    line-height: 80px;
    color: #B5B5B5;
    margin: 0 20px ;
}
.dbProfile{
    float: left;
    display: flex;
    width: 25%;
}
.pImg{
    line-height: 80px;
    margin-left: 30px;
}
.pImg img{
    max-width: 40px;
    border-radius: 50%;
}
.name{
    line-height: 80px;
    margin-left: 8px;
}
.name span{
    margin-left: 8px;
    font-weight: 900;
    color: #EBB0B0;
}