.vision img{
    width: 90px;
    height: 90px;
    border-radius: 50%;

}
.singleVisionText{
    height: 90px;
    margin-left: 20px;
    position: relative;
    top: 25%;
    transform: translate( );
}
.singleVisionText span:first-child{
    color:#D0D0D0;
}
.singleVisionText span:last-child{
    color: #F9EBE9;
}
.singleVisionText span{
    font-weight:600;
    display: block;

}
.singleVision{
    display: flex;
}