.st i{
    font-size: 12px !important;
}
.stationery{
    text-align: center;
}
.stFormInner{
    width: 410px;
    display: inline-block;
}

.stSingleInput span{
    color: #c2c2c2;
    font-weight: 600;
    width: 85px;
    display: inline-block;
    text-align: left;
}
.stSingleInput input{
    width: 325px;
    position: relative;
    bottom: 7px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #c2c2c2;
}
.stNextBtn{
    text-align: right;
    margin: 20px 0;
}
.stNextBtn button{
    width: 148px;
    height: 30px;
    border-radius: 20px;
    background: #00CD83;
    color: white;
    outline: 0;
    border: 0;
}
.stNextBtn img {
    cursor: pointer;
    width: 100px;
    margin: 0 20px;
}