@font-face{
    font-family: Poppins;
    src:url('../../font/Poppins-Regular.ttf')

}

.mt-15{
    margin-top: 15px;
}
.mb-25{
    margin-bottom: 25px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}






body{
    background-color: #FAFAFA;
    font-family: Poppins;
}

.inputBox{
    background-color: #FFFFFF;
    width: 430px;
    height: 470px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 7px;
    transform: translate(-50%, -50%);
}

.container{
    padding: 40px;
}

.logo img{
    max-width: 50px;
}
.container p{
    font-size: 16px;
    font-weight: 700;
    color: #2B3240;
}
/* update */
.input-group-text{
    border: 0;
    background-color: #FFFFFF;
}
.form-control{
    border: 0;
}
.singleInput{
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}
.input-group{
    margin: 3px 0;
}

.btn {
    background-color: #4B6CF4;
    color: white;
    width: 100%;
    border-radius: 19px;
    padding: 8px;
}


footer{
    margin-top: 43px;
}
.haveYet{
    display: block;
    font-weight: 700 !important;
    font-size: 13px !important;
    color: #2B3240 !important;
}
.contact{
    margin-top: 15px;
    display: block;
    color: #586BF5 !important;
    line-height: .4;
    font-weight: 700;
    font-size: 13px !important;
    position: relative;
}
.contact::after {
    position: absolute;
    content: '';
    background-color: #586BF5;
    bottom: -8px;
    width: 73px;
    height: 2px;
    left: 50%;
    transform: translate(-50%, 0);
}