.pageFooter{
    padding: 50px 0;
    text-align: right;
}
.pageFooter i{
    font-size: 25px;
}
.textMsg{
    color: #9E9E9E;
    width: 200px;
    display: inline-block;
}
.textMsg i{
    color: #EDB2B2;
}
.contact{
    color: #9E9E9E;
    width: 200px;
    display: inline-block;
}
.contact i{
    color: #40E6C2;
    margin-left: 10px;
    cursor: pointer;
}