.footerIconHolder{
    display: inline-block;
    margin-bottom: 70px;
}
.singleFooterIcon {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
    background: #E2B2B0;
    margin: 0 3px;
}
.singleFooterIcon i {
    color: white;
    font-size: 14px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);
}