.singleReview {
    border: 1px solid #E2B2B0;
    border-radius: 27px;
    padding: 13px 0;
}
.reviewBody {
    height: 180px;
    padding: 0 5px;
    margin-bottom: 14px;
    font-size: 10px;
}
.reviewBody p{
    font-size: 12px  !important;
}
.reviewImg{
    height: 60px;
    text-align: center;
    position: relative;
}
.reviewImg img{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.singleReview h3{
    margin: 0 8px;
    white-space: nowrap;
}
.singleReview h5{
    color: #dab2ae;
}
.singleReview img{}


.reviewIcon i {
    font-size: 13px !important;
    margin: 0 2px !important;
    color: #e2c2bd;
}