.meeting{
    text-align: center;
}

.meetingComponent{
    margin-top: 40px;
    width: 550px;
    display: inline-block;
}

.mediaIcon{
    line-height: 50px;
    float: left;
    text-align: center;
    width: 115px;
    display: inline-block;
}
.mediaIcon img{
    width: 50px
}
.joinLink{
    width: 350px;
    display: inline-block;
    float: left;
    line-height: 50px;
}
.joinLink input{
    outline: 0;
    color: #9c9c9c;
    font-size: 10px;
    padding: 0 30px;
    background-color: #FFE9E1;
    height: 26px;
    border-radius: 30px;
    width: 100%;
    border: 0;
}
.copyIcon{
    float: left;
    text-align: center;
    display: inline-block;
    width: 35px;
    line-height: 50px;
}

.copyIcon img{
    cursor: pointer;
    width: 23px;
}
.singleWay{
    padding: 15px 0;
    overflow: hidden;
    position: relative;
}
.singleWay::before{
    position: absolute;
    content: '';
    width: 465px;
    height: 2px;
    left: 0;
    background-color: #E1D6D6;
    bottom: 0;
}