.tableHeader {
    display: inline-block;
    width: 280px;
}
.tableHeader p{
    width: 33%;
    color:#EDB0AE
}
.tableHeader p>span{
    font-size: 18px;
    width: 33%;
    font-weight: 700;
    color: #EDB0AE;
}
.tableHeader p >i{
    font-size: 22px;
}
.tableHeaderComponent{
    display: flex;
}

.userIconHolder{
    display: inline-block;
    position: relative;
    width: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 32px;
    border: 1px solid #ddb1b1;
}
.userIconHolder i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: #F9EBE9;
}
.sit{
    display: inline-block;
    text-align: center;
    width: 60px;
    text-align: center;
}
.sit p{
    line-height: 0;
    color:#b1b1b1;
    margin-bottom: 0;
}
.twoSit{
    margin-top: 10px;
    width: 190px;
    display: inline-block;
    background: #FCEAEA;
    padding: 10px 0;
    border-radius: 20px;
}
/* roundedTable */
.roundedTable{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: relative;
}
.roundedTable span{
    position: absolute;
    font-size: 17px;
    font-weight: 600;
    color: #b1b1b1;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* sitHolder */
.sitHolder{
    --rotation:0;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    transform: rotate(var(--rotation));
}

.sit1{
    --rotation:36deg
}
.s1{
    transform: rotate(-36deg);
}
.sit2{
    --rotation:72deg
}

.s2{
    transform: rotate(-72deg);
}
.sit3{
    --rotation:108deg
}

.s3{
    transform: rotate(-108deg);
}
.sit4{
    --rotation:144deg
}

.s4{
    transform: rotate(-144deg);
}
.sit5{
    --rotation:180deg
}

.s5{
    transform: rotate(-180deg);
}
.sit6{
    --rotation:216deg
}

.s6{
    transform: rotate(-216deg);
}
.sit7{
    --rotation:252deg
}

.s7{
    transform: rotate(-252deg);
}
.sit8{
    --rotation:288deg
}

.s8{
    transform: rotate(-288deg);
}
.sit9{
    --rotation:324deg
}

.s9{
    transform: rotate(-324deg);
}
.sit10{
    --rotation:360deg
}

.s10{
    transform: rotate(-360deg);
}
/* tableBg */
.tableBg{
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #FCEAEA;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.roundedTable{
    display: inline-block;
}
/* squerTable */
.p45{
    padding: 45px;
}
.squerTable{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 130px;
    background-color: #FCEAEA;
    border-radius: 40px;
}

.sk1{
    position: absolute;
    left: 20%;
    transform: translate(-50%);
}
.sk2{
    position: absolute;
    left: 40%;
    transform: translate(-50%);
}
.sk3{
    position: absolute;
    left: 60%;
    transform: translate(-50%);
}
.sk4{
    position: absolute;
    left: 80%;
    transform: translate(-50%);
}
.tp{
    top: -17px;
}
.bt{
    bottom: -17px;
}
.tl {
    position: absolute;
    left: -29px;
    top: 50%;
    transform: translate(0,-50%);
}
.tr {
    position: absolute;
    right: -29px;
    top: 50%;
    transform: translate(0,-50%);
}